@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
    background-color: #99CCCC;
}

body {
    margin: 0;
}

*, *:after, *:before {
    box-sizing: inherit;
}

.about {
    background-color: #E0FFFF;
}

.work{
    background-color: #E0FFFF;
}

.contact {
    background-color:#E0FFFF;
}
.banner {
    background-image: url(../images/finalbanner-01.jpg);
    background-size:cover;
    background-position: center center;
    width: 100%;
    padding: 1rem 1rem 10rem ;
    text-align: center;
}


.header {
    margin-bottom: 1rem;
}

.logo {
    width: 40%;
    float:left;
}

ul {
    list-style-type: none;
}

.nav li {
  display:inline-block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color:white;
  text-decoration: none;
  overflow: hidden;
  font-weight: 400;
  text-align: right;
  padding-left: 0.1rem;
  font-size:1rem;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
 background-color:white;
 color:black;
}

.nav {
    text-align:right;
  }

  .nav li {
    display:inline-flex;
  }

.nav ul {
    padding:0rem;
}

.intro { 
  margin-bottom: 3em; 
  margin-left: 5em; 
  margin-right: 5em;
  
}

.footer {
    background-color: #D8D8D8;
    padding: 0em;
}
    
.copyright {
    overflow: hidden;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 1rem;
    font-size:0.7em;
}    

.micro {
    padding:0;
    text-align:center;
}
  img {
    width:100%;
}

.logo {
    width: 30%;
}

.nav {
    padding:none;
    text-align:right;
    text-decoration: none;
}
    
.nav a {
    text-decoration: none;
    color: #0074D9;
    margin:0;
    padding:none;
}

.navtop {
    list-style-type: none;
    padding:0;
    width: 50%;
    float:right;    
}

.nav li {
    display: block;
    padding: .25rem;
    color: #000000;
}

.nav a,
.nav a:link,
.nav a:visited {
    display: block;
    color: #000000;
    text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:link,
.nav .nav-current:visited {
    background-color: #FFFFFF;
    color: #66CC66;
}

.nav {
    text-align:right;
  }

.nav li {
    display:inline-flex;
  }
    
.h1 {
    color: white;
    width: 100%;
    border-style: solid;
    border-color: white;
    margin-bottom: 1rem;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
}

.h2 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.circle {
    padding: 1em;
}

.copyright {
    overflow: hidden;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
    padding-left: 1rem;
    font-size:0.7em;
}    

.green {
    margin-left: 3em;
}

.nav micro {
    padding:0;
    text-align:left;
    text-decoration: none;
}

.nav li {
    display: inline-block;
    }


@media only screen and (min-width: 25em) {

ul {
    list-style-type: none;
    padding-right: 3rem;
  }
}
    
@media only screen and (min-width: 38em) {
    
    
.nav a:visited {
   display: block;
   color: #000000;
}
    
.images {
    width: 50%;
    padding: none;
}
    
.logo {
        width: 40%;
    }
  
  .intro { 
  margin-bottom: 3em; 
  margin-left: 5em; 
  margin-right: 5em;
  
}
    
}  

@media only screen and (min-width: 60em) {
    
    .title2 {
        text-align: center;
    }
    
    .nav a:visited {
   display: block;
   color: #000000;
}
    .logo {
        width: 40%;
    }

    .images {
        width: 50%;
        padding: none;
    }

} 