<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>PORTFOLIO</title>
     <meta name="description" content="My work as a graphic designer">
    
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/main.css" rel=stylesheet>
  <link href="css/grid.css" rel=stylesheet>
</head>
    
     <div class="grid header banner h1"> 
         <div class="unit unit-xs-1 unit s-1-2 unit-m-1-2 unit-l-1-4">
             
            <a class="logo" href="index.html"><img src="images/logo.svg" alt="adventurer                logo"></a>
         </div>
          <nav id="navigation" role="navigation" class="nav unit unit-xs-1 unit s-1-2                     unit-m-1-2 unit-l-3-4">
            <ul class="navtop">
                
                <li class="About"> <a href="pricelist.html">About</a></li>
                <li class="Work"> <a href="signup.html">Work</a></li>
                <li class="Contact"> <a href="signup.html">Contact</a></li>
                
            </ul>
        </nav>
         
         <div class="h1">
            <h1>DESIGNER & ILLUSTRATOR</h1>
        </div>
    </div>  
    
    
    
    <header>
        <h1>My Work</h1>
        <nav>
            <ul>
                <li><a href="{{site.baseurl}}/heart.html">Child at Heart</a></li>
                <li><a href="{{site.baseurl}}/rock.html">Rock Climbing</a></li>
                <li><a href="{{site.baseurl}}/cloud.html">Dust Cloud</a></li>
                <li><a href="{{site.baseurl}}/octo.html">Octopus Hug</a></li>
                <li><a href="{{site.baseurl}}/shark.html">Divers</a></li>
                <li><a href="{{site.baseurl}}/road.html">Road Trip</a></li>
            </ul>
        
        </nav>
    </header>
     
    
    {{content}}
    
     <div class="worktogether h2">
         <h2><u>LETS CHAT!</u></h2>
    <p> Thank you for your interest, I would love to hear from you! 
        email :tahinim@hotmail.com
</p>
     </div>
    
     <div class="footer">
    <footer>
       <div ul class=" nav micro">
           <nav>
               <ul>
                    <li class="gutter-half"><a href="aboutus.html">Behance</a></li>
                    <li class="gutter-half"><a href="sitemap.html">Instagram</a></li>
                    <li class="gutter-half"><a href="contactus.html">Facebook</a></li>
                </ul>
            </nav>
        </div>
        <div role="contentinfo" class="unit unit-xs-1 unit s-1 unit-m-1-4 unit-l-1-4">
                <div class="copyright">©2014 TahiniMoitra </div>          
        </div> 
    </footer>
 </div>
</body>
</html>   