<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>PORTFOLIO - Artwork containing the creative adventures of Tahini Moitra.</title>
     <meta name="description" content="My work as a graphic designer and my adventures of creativity!">
    
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="css/main.css" rel=stylesheet>
  <link href="css/grid.css" rel=stylesheet>
</head>
    
     <div class="grid header banner h1"> 
         <div class="unit unit-xs-1 unit s-1-2 unit-m-1-2 unit-l-1-4">
             
            <a class="logo" href="index.html"><img src="images/logotwo.svg" alt="adventurer logo"></a>
         </div>
          <nav id="navigation" role="navigation" class="nav unit unit-xs-1 unit s-1-2 unit-m-1-2 unit-l-3-4">
            <ul class="navtop">
                
                <li class="About"> <a href="#about">About</a></li>
                <li class="Work"> <a href="#work">Work</a></li>
                <li class="Contact"> <a href="#contact">Contact</a></li>
                
            </ul>
        </nav>
         
         <div class="h1">
            <h1>DESIGNER & ILLUSTRATOR</h1>
        </div>
    </div>  
    
    
    {{content}}
    
  <div id="contact">
     <div class="worktogether h2">
         <h2><u>LETS CHAT!</u></h2>
    <p> Thank you for your interest, I would love to hear from you!</p>
       
      <a href="mailto:tahinim@hotmail.com">tahinim@hotmail.com</a>
     </div>
    
     <div class="footer">
    <footer>
       <div ul class=" nav micro">
           <nav>
               <ul>
                    <li class="gutter-half"><a href="https://instagram.com/tahini_sauce/">Behance</a></li>
                    <li class="gutter-half"><a href="https://instagram.com/tahini_sauce/">Instagram</a></li>
                    <li class="gutter-half"><a href="https://www.facebook.com/TahiniSauce-540617636085882/?ref=aymt_homepage_panel">Facebook</a></li>
                </ul>
            </nav>
        </div>
        <div role="contentinfo" class="unit unit-xs-1 unit s-1 unit-m-1-4 unit-l-1-4">
                <div class="copyright">©2014 TahiniMoitra </div>          
        </div> 
    </footer>
 </div>
  </div>
</body>
</html>   